
<body>
<main>
<section class="half">
<div class="title">
<h1>Casos de Uso</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam leo sed erat euismod,</p>
 <iframe width="800" height="400"
src="https://www.youtube.com/embed/oYbvkc7BbBc">
</iframe> 
 <button type="button" class="btn btn-primary btn-lg">Mostrar Interés</button>
<div class="card-deck">
  <div class="card">
  <h3>Problema que tenía</h3>
    <div class="card-block">
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam leo sed erat euismod, sit amet elementum magna pharetra. Vestibulum ante ipsum primis</p>
    </div>
  </div>
  <div class="card">
  <h3>Ventajas que le proporció usar</h3>
    <div class="card-block">
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam leo sed erat euismod, sit amet elementum magna pharetra. Vestibulum ante ipsum primis</p>
    </div>
  </div>
  </div>
</div>
</section>

<div class="cases">
<h3 style="margin-left: 14%">Otros Casos</h3>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" style="width:400px;height:200px;" src="https://wallpaperscraft.com/image/lilac_light_background_solid_bright_65845_3840x2160.jpg" alt="Card image cap">
    <div class="card-block">
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam leo sed erat euismod, sit amet elementum magna pharetra.</p>
      <a href="url">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" style="width:400px;height:200px;" src="http://www.edenhousefabrics.co.uk/ekmps/shops/wdtrading2/images/red-plain-100-cotton-fabric-912-p.jpg" alt="Card image cap">
    <div class="card-block">
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam leo sed erat euismod, sit amet elementum magna pharetra.</p>
      <a href="url">Read More</a>
    </div>
  </div>
  </div>
</div>

</main>
</body>

    <!-- Footer -->
    <footer class="text-center">

    <div >
 <div class="horizontal">
  <p style="color:white">How it works</p><br />
    <strong style="color:white; font-size: 40px;">Learn to use Verse<br> and lorem ipsum</strong>
  </div> 
  <div class="horizontal">
    <p style="color:white">Have a question? you can search for an answern <br /> in our help center or send us a message and someone<br /> from verse will be in touch-></p>
  </div>  
  
</div>
    </footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">